<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013 The MITRE Corporation, All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this work except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.mitre.svmp.events">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17"/>

    <permission android:name="org.mitre.svmp.permission.RECEIVE_BOOT_COMPLETED"
                android:label="BOOT_COMPLETED"
                android:protectionLevel="signatureOrSystem" />

    <permission android:name="org.mitre.svmp.permission.RECEIVE_LOCATION_ACTIONS"
                android:label="LOCATION_ACTIONS"
                android:protectionLevel="signatureOrSystem" />

    <permission android:name="org.mitre.svmp.permission.RECEIVE_INTERCEPT_NOTIFICATION"
                android:label="INTERCEPT_NOTIFICATION"
                android:protectionLevel="signatureOrSystem" />

    <permission android:name="org.mitre.svmp.permission.RECEIVE_INTERCEPT_INTENT"
                android:label="INTERCEPT_INTENT"
                android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- we use this to control the Sensors socket -->
    <uses-permission android:name="android.permission.NET_ADMIN"/>

    <!-- we use this to read from the Framebuffer device, /dev/graphics/fb0 -->
    <uses-permission android:name="android.permission.GRAPHICS"/>

    <!-- we use this to inject sensor and touch events -->
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>

    <!-- we use these to inject Location events -->
    <uses-permission android:name="org.mitre.svmp.permission.RECEIVE_LOCATION_ACTIONS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <!-- we use this to intercept Intent events -->
    <uses-permission android:name="org.mitre.svmp.permission.RECEIVE_INTERCEPT_NOTIFICATION"/>
    <uses-permission android:name="org.mitre.svmp.permission.RECEIVE_INTERCEPT_INTENT"/>

    <!-- The webrtc shared library creates a trace file on the sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- The webrtc shared library requires RECORD_AUDIO permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- we use this to read LogCat output -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- we use this to intercept outgoing calls and forward them to the client -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application android:icon="@drawable/color_icon" android:label="@string/app_name" android:persistent="true">
        <service android:name=".BackgroundService"/>
        <receiver android:name=".BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
